body {
    background-color: hsl(257, 40%, 49%);
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 400;
}
h1 {
    font-weight: 600;
}
header {
    padding: 20px;
}
.container {
    display: grid;
    justify-content: center;
}
.hero {
    display: grid;
    justify-self: center;
    margin: 20px 20px 10px;
}

.img > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  button {
      width: 30%;
      border-radius: 30px;
      border: none;
      padding: 15px;
      color:  hsl(257, 40%, 49%);
      font-size: 16px;
      font-weight: 400;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  button:hover{
      background-color: hsl(300, 69%, 71%);
      color: #fff;
  }

  ul{
    list-style-type: none;  
  }

  li {
      display: inline;
  }

  a{
      color: white;
  }
  a:hover {
      color: hsl(300, 69%, 71%);
  }

  .fab {
      border-radius: 50%;
      border: 1px solid #fff;
      padding: 10px;
      margin: 10px;
  }


 